# Compiled python files
*.py[cod]
*.orig

# Cache and DB
*.db
.cache

# OS X Junk
.DS_Store

# Packages
*.egg
*.egg-info
dist
build
eggs
bin
var
sdist
develop-eggs

# VirtualEnv
env

# Ignore Docs
docs/_build

# Pycharm
.idea/




